In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df_scalar_test = pd.read_pickle('../input/nn-to-predict-data-files/df_scalar_test.pkl')
df_scalar_test.head()

/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

           fc        sd       pso       dso
0    5.787390  0.312003  1.878395 -0.739487
1  172.021181  0.804273 -0.756960  0.212390
2  172.021181  0.804273 -0.756960  0.212390
3    5.787390  0.312003  1.878395 -0.739487
4    2.611647  0.082246  0.600366 -0.682690

In [3]:
df_test_new = pd.read_pickle('../input/molecular-properties-data-create/df_test_new.pkl')
df_test_new.head()

,id,molecule_name,atom_index_0,atom_index_1,type,g1_0,g2_2_0.01_0,g4_2_0.01_1_1_0,g4_2_0.01_1_8_0,g4_2_0.01_1_16_0,...,g4_1_0.2_0.5_1_1,g4_1_0.2_0.5_8_1,g4_1_0.2_0.5_16_1,g2_1.5_0.2_1,g4_1.5_0.2_1_1_1,g4_1.5_0.2_1_8_1,g4_1.5_0.2_1_16_1,g4_1.5_0.2_0.5_1_1,g4_1.5_0.2_0.5_8_1,g4_1.5_0.2_0.5_16_1
0,4658147,dsgdb9nsd_000004,2,0,2JHC,0.526855,0.522461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.928711,0.0,0.0,0.0,0.0,0.0,0.0
1,4658150,dsgdb9nsd_000004,3,0,1JHC,0.526855,0.522461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.928711,0.0,0.0,0.0,0.0,0.0,0.0
2,4658148,dsgdb9nsd_000004,2,1,1JHC,0.526855,0.522461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.928711,0.0,0.0,0.0,0.0,0.0,0.0
3,4658151,dsgdb9nsd_000004,3,1,2JHC,0.526855,0.522461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.928711,0.0,0.0,0.0,0.0,0.0,0.0
4,4658149,dsgdb9nsd_000004,2,3,3JHH,0.526855,0.522461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.506836,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
cols = df_test_new.columns
df_test_new.drop(columns= cols[5:], inplace=True)
df_test_new.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658150  dsgdb9nsd_000004             3             0  1JHC
2  4658148  dsgdb9nsd_000004             2             1  1JHC
3  4658151  dsgdb9nsd_000004             3             1  2JHC
4  4658149  dsgdb9nsd_000004             2             3  3JHH

In [5]:
df_scalar_test = df_test_new.merge(df_scalar_test, on=df_scalar_test.index)
df_scalar_test.sort_values(by='id')

,key_0,id,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,0,4658147,dsgdb9nsd_000004,2,0,2JHC,5.787390,0.312003,1.878395,-0.739487
2,2,4658148,dsgdb9nsd_000004,2,1,1JHC,172.021181,0.804273,-0.756960,0.212390
4,4,4658149,dsgdb9nsd_000004,2,3,3JHH,2.611647,0.082246,0.600366,-0.682690
1,1,4658150,dsgdb9nsd_000004,3,0,1JHC,172.021181,0.804273,-0.756960,0.212390
3,3,4658151,dsgdb9nsd_000004,3,1,2JHC,5.787390,0.312003,1.878395,-0.739487
5,5,4658152,dsgdb9nsd_000015,3,0,1JHC,90.413600,0.148988,0.315527,0.759897
11,11,4658153,dsgdb9nsd_000015,3,2,3JHC,2.459191,-0.017921,0.036969,-0.021298
17,17,4658154,dsgdb9nsd_000015,3,4,2JHH,-11.631757,0.354531,2.183293,-2.399141
18,18,4658155,dsgdb9nsd_000015,3,5,2JHH,-11.624681,0.354594,2.184266,-2.399318
6,6,4658156,dsgdb9nsd_000015,4,0,1JHC,90.390140,0.148827,0.320296,0.758977
12,12,4658157,dsgdb9nsd_000015,4,2,3JHC,2.459458,-0.018438,0.035359,-0.019771
19,19,4658158,dsgdb9nsd_000015,4,5,2JHH,-11.630295,0.354625,2.183289,-2.398344
7,7,4658159,dsgdb9nsd_000015,5,0,1JHC,89.010094,0.150954,0.365060,0.749273
13,13,4658160,dsgdb9nsd_000015,5,2,3JHC,2.442741,-0.017750,0.040463,-0.024020
8,8,4658161,dsgdb9nsd_000015,6,0,3JHC,2.458344,-0.018528,0.035252,-0.019595
14,14,4658162,dsgdb9nsd_000015,6,2,1JHC,90.258897,0.148890,0.322485,0.757953
20,20,4658163,dsgdb9nsd_000015,6,7,2JHH,-11.646710,0.354505,2.181800,-2.397516
21,21,4658164,dsgdb9nsd_000015,6,8,2JHH,-11.635288,0.354601,2.182830,-2.397720
9,9,4658165,dsgdb9nsd_000015,7,0,3JHC,2.459024,-0.018643,0.034714,-0.019106
15,15,4658166,dsgdb9nsd_000015,7,2,1JHC,90.369829,0.148721,0.322788,0.758440
22,22,4658167,dsgdb9nsd_000015,7,8,2JHH,-11.632069,0.354636,2.182925,-2.397551
10,10,4658168,dsgdb9nsd_000015,8,0,3JHC,2.442415,-0.018088,0.039502,-0.023058
16,16,4658169,dsgdb9nsd_000015,8,2,1JHC,88.829181,0.150968,0.383269,0.746761
23,23,4658170,dsgdb9nsd_000016,3,0,1JHC,105.609511,0.303491,0.646015,0.844182
29,29,4658171,dsgdb9nsd_000016,3,1,2JHC,-0.777401,-0.057997,0.316054,-0.313069
35,35,4658172,dsgdb9nsd_000016,3,2,2JHC,-0.780701,-0.057798,0.316643,-0.313509
41,41,4658173,dsgdb9nsd_000016,3,4,2JHH,-2.301836,0.295866,2.382041,-2.712511
42,42,4658174,dsgdb9nsd_000016,3,5,3JHH,6.737361,0.039738,1.409364,-1.755977
44,44,4658175,dsgdb9nsd_000016,3,6,3JHH,6.680339,0.040741,1.397743,-1.739320
47,47,4658176,dsgdb9nsd_000016,3,7,3JHH,6.797436,0.038874,1.420158,-1.771607
...,...,...,...,...,...,...,...,...,...,...
2505523,2505523,7163659,dsgdb9nsd_133885,12,3,1JHC,105.236796,0.308009,0.332767,1.103954
2505528,2505528,7163660,dsgdb9nsd_133885,12,4,2JHC,1.597902,0.081272,0.138289,-0.128111
2505510,2505510,7163661,dsgdb9nsd_133885,12,6,3JHC,3.628030,0.004650,0.190600,-0.239125
2505517,2505517,7163662,dsgdb9nsd_133885,12,7,3JHC,3.542913,0.013472,0.163668,-0.231739
2505533,2505533,7163663,dsgdb9nsd_133885,12,8,2JHC,1.585323,0.080276,0.139180,-0.126183
2505538,2505538,7163664,dsgdb9nsd_133885,12,13,3JHH,2.456216,0.066837,0.484027,-0.506915
2505539,2505539,7163665,dsgdb9nsd_133885,12,15,3JHH,2.437296,0.068958,0.492933,-0.521945
2505504,2505504,7163666,dsgdb9nsd_133885,13,2,3JHC,3.534169,0.014277,0.162068,-0.228211
2505524,2505524,7163667,dsgdb9nsd_133885,13,3,2JHC,1.570633,0.079724,0.134305,-0.119433
2505529,2505529,7163668,dsgdb9nsd_133885,13,4,1JHC,107.728383,0.301847,0.152770,1.136466
2505511,2505511,7163669,dsgdb9nsd_133885,13,6,3JHC,3.561270,0.004804,0.185116,-0.230680
2505518,2505518,7163670,dsgdb9nsd_133885,13,7,3JHC,3.534687,0.014251,0.162165,-0.228281
2505534,2505534,7163671,dsgdb9nsd_133885,13,8,2JHC,1.572463,0.079733,0.134011,-0.118946
2505540,2505540,7163672,dsgdb9nsd_133885,13,15,3JHH,2.462793,0.068261,0.488820,-0.512715
2505493,2505493,7163673,dsgdb9nsd_133885,14,0,3JHC,2.758103,0.026196,0.101360,-0.106514
2505498,2505498,7163674,dsgdb9nsd_133885,14,1,2JHN,3.596583,0.049735,0.103843,-0.072218
2505505,2505505,7163675,dsgdb9nsd_133885,14,2,3JHC,3.471207,0.012237,0.165322,-0.231369
2505525,2505525,7163676,dsgdb9nsd_133885,14,3,3JHC,3.176892,0.022343,0.143102,-0.154229
2505530,2505530,7163677,dsgdb9nsd_133885,14,4,3JHC,3.108785,0.019747,0.152635,-0.173247
2505512,2505512,7163678,dsgdb9nsd_133885,14,6,2JHC,1.715469,0.076829,0.050446,0.006196
2505519,2505519,7163679,dsgdb9nsd_133885,14,7,1JHC,86.705406,0.138772,0.178795,1.154241
2505535,2505535,7163680,dsgdb9nsd_133885,14,8,2JHC,1.692706,0.078363,0.115101,-0.097584
2505541,2505541,7163681,dsgdb9nsd_133885,14,15,3JHH,2.645779,0.055346,0.425833,-0.385931
2505499,2505499,7163682,dsgdb9nsd_133885,15,1,3JHN,4.058529,-0.025173,0.200469,-0.294613
2505506,2505506,7163683,dsgdb9nsd_133885,15,2,3JHC,3.538242,0.013583,0.163839,-0.231713
2505526,2505526,7163684,dsgdb9nsd_133885,15,3,2JHC,1.598614,0.080681,0.137412,-0.124142
2505531,2505531,7163685,dsgdb9nsd_133885,15,4,2JHC,1.610809,0.081613,0.136313,-0.125660
2505513,2505513,7163686,dsgdb9nsd_133885,15,6,3JHC,3.605474,0.004166,0.189682,-0.237708
2505520,2505520,7163687,dsgdb9nsd_133885,15,7,2JHC,2.023700,0.082079,0.088202,-0.079010
2505536,2505536,7163688,dsgdb9nsd_133885,15,8,1JHC,104.511036,0.300841,0.330784,1.105895

In [6]:
df_scalar_test.drop(columns= ['key_0', 'id'], inplace = True)

In [7]:
df_scalar_test.head()

,molecule_name,atom_index_0,atom_index_1,type,fc,sd,pso,dso
0,dsgdb9nsd_000004,2,0,2JHC,5.787390,0.312003,1.878395,-0.739487
1,dsgdb9nsd_000004,3,0,1JHC,172.021181,0.804273,-0.756960,0.212390
2,dsgdb9nsd_000004,2,1,1JHC,172.021181,0.804273,-0.756960,0.212390
3,dsgdb9nsd_000004,3,1,2JHC,5.787390,0.312003,1.878395,-0.739487
4,dsgdb9nsd_000004,2,3,3JHH,2.611647,0.082246,0.600366,-0.682690

In [8]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [9]:
df_scalar_test = reduce_mem_usage(df_scalar_test)

Mem. usage decreased to 81.24 Mb (41.4% reduction)

In [10]:
mulliken_test = pd.read_pickle('../input/making-mulliken-charges-dataset/mulliken_test.pkl')
mulliken_test.head()

       molecule_name  atom_index  mulliken_charge
12  dsgdb9nsd_000004           0        -0.420117
13  dsgdb9nsd_000004           1        -0.420117
14  dsgdb9nsd_000004           2         0.200479
15  dsgdb9nsd_000004           3         0.200479
79  dsgdb9nsd_000015           0        -0.224901

In [11]:
mulliken_test = reduce_mem_usage(mulliken_test)

Mem. usage decreased to 14.95 Mb (24.0% reduction)

In [12]:
data_folder = '../input/champs-scalar-coupling'
mulliken_train = pd.read_csv(f'{data_folder}/mulliken_charges.csv')
train = pd.read_csv(f'{data_folder}/train.csv')
df_scalar_train = pd.read_csv(f'{data_folder}/scalar_coupling_contributions.csv')

# train.head()   # has the y-data (ie, scalar_coupling_constant)

In [13]:
mulliken_train = reduce_mem_usage(mulliken_train)
train = reduce_mem_usage(train)
df_scalar_train = reduce_mem_usage(df_scalar_train)

Mem. usage decreased to 16.09 Mb (54.2% reduction)
Mem. usage decreased to 106.62 Mb (50.0% reduction)
Mem. usage decreased to 115.50 Mb (59.4% reduction)

Merging the Mulliken charges to train and test

In [14]:
df_scalar_test = df_scalar_test.merge(mulliken_test, left_on= ['molecule_name', 'atom_index_0'], right_on= ['molecule_name', 'atom_index'])
df_scalar_test = df_scalar_test.merge(mulliken_test, left_on= ['molecule_name', 'atom_index_1'], right_on= ['molecule_name', 'atom_index'])
# df_scalar_test.head()

In [15]:
df_scalar_train = df_scalar_train.merge(mulliken_train, left_on= ['molecule_name', 'atom_index_0'], right_on= ['molecule_name', 'atom_index'])
df_scalar_train = df_scalar_train.merge(mulliken_train, left_on= ['molecule_name', 'atom_index_1'], right_on= ['molecule_name', 'atom_index'])
# df_scalar_train.head()

In [16]:
df_scalar_test.drop(columns= ['molecule_name', 'atom_index_0', 'atom_index_1', 'atom_index_x', 'atom_index_y'], inplace=True)
df_scalar_train.drop(columns= ['molecule_name', 'atom_index_0', 'atom_index_1', 'atom_index_x', 'atom_index_y'], inplace=True)
# df_scalar_train.head()

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df_scalar_train['type'])
le.classes_

array(['1JHC', '1JHN', '2JHC', '2JHH', '2JHN', '3JHC', '3JHH', '3JHN'],
      dtype=object)

In [18]:
df_scalar_test['type'] = le.transform(df_scalar_test['type']) 
df_scalar_train['type'] = le.transform(df_scalar_train['type']) 
df_scalar_train.head()

,type,fc,sd,pso,dso,mulliken_charge_x,mulliken_charge_y
0,0,83.00000,0.254639,1.258789,0.271973,0.133911,-0.535645
1,0,83.00000,0.254639,1.258789,0.271973,0.133911,-0.535645
2,0,83.00000,0.254639,1.258789,0.271973,0.133911,-0.535645
3,0,83.00000,0.254639,1.258789,0.271973,0.133911,-0.535645
4,3,-11.03125,0.353027,2.857422,-3.433594,0.133911,0.133911

Fitting a Neural Network to the above train data

In [19]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import cross_val_score
from keras.callbacks import EarlyStopping, ReduceLROnPlateau
from keras.callbacks import ModelCheckpoint
from keras.models import load_model
from keras.models import Sequential
from keras.layers import Dense, BatchNormalization, LeakyReLU
from keras.layers import Dropout
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
import matplotlib.pyplot as plt
from keras.models import load_model

Using TensorFlow backend.

In [ ]:
import keras.backend as K

def custom_metric(y_true, y_pred):
    avg_loss = K.mean(K.abs(y_pred-y_true))
    return K.log(avg_loss)

In [20]:
def model_(m):
    model = Sequential()

    model.add(Dense(50, input_dim=m))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(100))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(250))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(500))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(1000))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(500))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(250))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    
    model.add(Dense(100))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    model.add(Dense(50))
    model.add(BatchNormalization())
    model.add(LeakyReLU(0.1))
    
    model.add(Dense(1, activation='linear'))
    model.compile(loss='mse', optimizer='adam', metrics = [custom_metric])
    return model

In [21]:
model = model_(df_scalar_train.shape[1])

In [22]:
n_epochs = 10
batch_size = 2000
es = EarlyStopping(monitor='val_loss', verbose=1, patience=5)  # , mode='min'
reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2, patience=10, min_lr=1e-6)
mc = ModelCheckpoint('best_model.h5', monitor='val_loss', verbose=0, save_best_only=True)  # , mode='min'
# fit model
history = model.fit(df_scalar_train, train['scalar_coupling_constant'], validation_split=0.2, epochs=n_epochs, shuffle=True,
                    batch_size = batch_size, verbose=0, callbacks=[es, reduce_lr, mc])

In [24]:
best_model = load_model('best_model.h5')

In [28]:
op_metrics = best_model.evaluate(df_scalar_train, train['scalar_coupling_constant'])

op_metrics

[0.13533528323661, -1.241083654079616]

From the above metrics, it's found that the:
- average mse on prediction is: 0.1353

  
- average log loss is: *-1.2411*

  This log loss is defined by the custom_metric function above

## Metrics Interpretation & Further Improvements

The regressed parameters given by the model are a good fit compared to a simple model whose log loss would be very high (1 or above).

However, looking at the competition results where the Leaderboard touched log-loss in the range of [-3, -3.5], there is certainly a room for improvement such as:

1. In our model, we only used Mulliken charges fitted on test. Similar model fitting of the dipole moment data can be done so that we can even use it as a parameter.
2. Improving the model architecture can be done. Presently, we are only creating an MLP network. However, using custom network (using PyTorch) can help in achieving the required precision in our Scalar Coupling predictions.